@import '../../../../../../consts.scss';

.user-mini-view {
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        'MINI_IMG CNG_BTN'
        'MINI_IMG VIEW_PROF'
    ;
    height: 50%;
    width: 100%;
}

.change-theme-button-main-page {
    grid-area: CNG_BTN;
    justify-self: right;
    align-self: center;
    padding-right: 10%;
    & > .theme-changer-button {
        position: relative;
        inset: 0;
        height: 30px;
    }
    .sun-icon, .moon-icon {
        height: 30px;
    }
    z-index: 2;
}

.mini-view-pop-up-menu-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mini-view-pop-up-menu-cover-color {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, $theme-dark-hover 10%, transparent);
    z-index: 1;
}

.mini-view-pop-up-menu-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    opacity: .4;
}